/*
BLACK : #1D1D1D
GRAY : #2E2E2E
GRAY-VARIANT: #585858
MUSTARD: #C18F48

A los 1024px width se debe hacer un query para:
*nav
*title-top
*text-top
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #2E2E2E;

}

.container {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

.title {
    color: white;
    display: flex;
    align-items: center;
}

.logo {
    background-image: url(./../images/Claqueta.png);
    height: 40px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}

.hero {
    background-image: url(./../images/example2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    text-wrap: nowrap;
    font-size: clamp(0.9rem, 2vw, 1.2rem);
}

nav ul {
    display: flex;
    flex-direction: row;
    color: white;
    list-style: none;
    gap: 2rem;
}

.title-top {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: -webkit-fill-available;
    justify-content: center;
}

.title-top h1 {
    color: white;
    font-weight: bold;
    font-size: 5rem;
}

.text-top {
    color: white;
    width: 50vw;
}


.title-card {
    min-width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0 0 0;
    gap: 2rem;
}

.title-card h4 {
    color: #C18F48;
    font-size: 1.5rem;
}

.title-card h2 {
    color: white;
    font-size: clamp(0.8rem, 4vw, 2.5rem);
}

.title-card p {
    color: white;
    letter-spacing: 1px;
    font-size: clamp(0.6rem, 1.5vw, 1rem);
    text-align: center;
}

.container-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3rem 0 0 0;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    width: min-content;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #585858;
    padding: 1.5rem;
}

.top-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.top-card h3 {
    color: white;
}

.top-card p {
    color: #C18F48;
    font-size: 2rem;
}

.text-card {
    font-size: clamp(0.7rem, 1vw, 1.2rem);
    color: white;
}

.content-card {
    border-top: 1px solid #C18F48;
    color: white;
}

.content-card h3 {
    padding: 1rem 0 1.5rem 0;
}

.list-style li {
    font-size: clamp(0.7rem, 1vw, 1.2rem);
}

.button-card {
    display: flex;
    justify-content: center;
    width: 15vw;
    min-width: 215px;
    background-color: #C18F48;
    color: white;
    padding: 1rem 0;
    font-weight: bold;
    transition: all 0.3s ease;
}

.button-card:hover {
    cursor: pointer;
    background: #202020;
    /* border: 1px solid #C18F48; */
}

/*------------------------------------ Layout de CARDS*/
.layout-box {
    width: 100%;
    background: #202020;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.top-layout {
    width: 100%;
    min-width: 290px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 0 1rem;
}

.content-layout {
    font-size: clamp(0.8rem, 2vw, 1.4rem);
    min-width: 275px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}

.content-layout h3 {
    color: #C18F48;
}

.content-layout h2 {
    color: white;
}

.text-layout {
    min-width: 290px;
    color: white;
}

.cards-layout {
    min-width: 675px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
}

.card-layout-main {
    background: #585858;
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    min-width: 480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 1rem;
}

.rating-info {
    display: flex;
    flex-direction: column;
    color: white;
}

.rating {
    display: flex;

}

.star {
    font-size: 16px;
    color: #bbb;
    transition: color 0.3s;
    cursor: pointer;
}

.star:hover,
.star.checked {
    color: gold;

}

.camara {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

.camara-man {
    background: url(./../images/camera-man.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30vh;
}



.card-layout.one {
    background: #585858;
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 4;
    color: white;
    display: grid;
    align-content: space-around;
    padding: 1.5rem;
}


.card-layout.two {
    background: #585858;
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 4;
    color: white;
    display: grid;
    align-content: space-around;
    padding: 1.5rem;
}

.card-layout.three {
    background: #585858;
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 4;
    color: white;
    display: grid;
    align-content: space-around;
    padding: 1.5rem;
}

.card-layout.four {
    background: #585858;
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 1;
    color: white;
    display: grid;
    align-content: space-around;
    padding: 1.5rem;
}

.card-layout>h1 {
    color: #C18F48;
    font-size: 50px;
    display: grid;
    justify-items: end;
}

.card-description {
    border-top: solid 1px white;
    padding: 1rem 0 0 0;
}

.manager-text {
    padding: 0 0 1rem 0;
}

/*-------------------------------------- FIN DEL LAYOUT CARDS*/

section {
    background-image: url(./../images/example3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    gap: 5rem;
}

.mid-content {
    width: 50%;
    height: -webkit-fill-available;
    min-width: 145px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    margin-left: 50%;
}

.mid-content h3 {
    color: #C18F48;
}

.button-content {
    border: solid 3px #C18F48;
    width: max-content;
    display: flex;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    background: none;
    color: white;
    font-size: 16px;
}

.button-content:hover {
    background: #C18F48;
    color: #fff !important;

}

article {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    /* background: #202020; */
    flex-wrap: nowrap;
    gap: 1rem;
}

.left-side {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: white;
}

.left-side>h3 {
    color: #C18F48;
}

.button-left-side {
    background: #C18F48;
    width: 30%;
    min-width: max-content;
    display: flex;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.button-left-side:hover {
    border: 2px solid #C18F48;
    background: none;
    color: #fff !important;

}

.right-side {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.collapsible {
    background-color: #585858;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #C18F48;
}

.collapsible:after {
    content: '▼';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "▲";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: white;
}

footer {
    background-image: url(./../images/audiovisual.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    filter: drop-shadow(2px 4px 6px black);
}

footer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.nav-footer,
.footer-title,
.footer-logo,
.footer-links,
.footer-end {
    position: relative;
    z-index: 2;
}

.nav-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
    border-bottom: 1px solid #C18F48;
}

.nav-footer ul {
    display: flex;
    flex-direction: row;
    font-size: clamp(0.9rem, 2vw, 2rem);
    color: white;
    list-style: none;
    gap: 2rem;
    cursor: pointer;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-title {
    color: white;
    display: flex;
    align-items: center;
    font-size: clamp(1rem, 2vw, 2rem);
}

.footer-logo {
    background-image: url(./../images/Claqueta.png);
    height: 7vh;
    width: 5vw;
    min-width: 55px;
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 16 / 9;
}

.footer-links {
    padding: 2rem 0;
    color: white;
    border-bottom: 1px solid #C18F48;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 200px;
    align-items: center;
}

.col h3 {
    width: 60%;
    text-align: center;
    border-bottom: 1px solid #C18F48;
    margin-top: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    cursor: pointer;
    text-align: center;
}

li {
    margin-bottom: 10px;
}

li a {
    text-decoration: none;
    color: white;
}

.form-container {
    background: linear-gradient(#212121, #212121) padding-box,
        linear-gradient(120deg, transparent 25%, #fac171, #C18F48) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
}

.form-input {
    color: white;
    background: transparent;
    border: 1px solid #414141;
    border-radius: 5px;
    padding: 8px;
    outline: none;
}

.btn-submit {
    border-radius: 5px;
    padding: 6px;
    background: #ffffff14;
    color: white;
    border: 1px solid #414141;
    transition: all 0.5s ease;
}

.btn-submit:hover {
    background: #C18F48;
    cursor: pointer;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #414141;
    position: relative;
}

.form-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    pointer-events: none;
    transition: 0.5s;
}

.form-group input:focus~label,
.form-group input:valid~label {
    top: -16px;
    left: 0;
    background: #212121 padding-box;
    padding: 10px 0 0 0;
    color: #bdb8b8;
    font-size: 12px;
}

.footer-end {
    display: flex;
    justify-content: center;
    color: white;
    padding: 1rem 0;
}

/* ---------------------MENU RESPONSIVE */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background: #585858;
    opacity: 0.9;
    overflow: hidden;
    transition: all 0.4s ease 0;
}

.menu {
    background: transparent;
    border: transparent;
    min-width: max-content;
    cursor: pointer;
    transition: all 1s ease;
    display: none;
    color: white;

}

/* .menu:hover {
    background: #212121;
} */

.overlay-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay-content ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.4s ease 0;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.overlay a:hover,
.overlay a:focus {
    color: #C18F48;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;

}

@media (max-height:450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media (max-width: 725px) {
    .overlay-content a {
        display: block;
    }

    .menu {
        display: inherit;
        margin-top: 10%;
    }
}

/* ---------------------QUERYS  */

@media (max-width: 800px) {
    .cards-layout {
        min-width: 250px;
        display: flex;
        gap: 16px;
        flex-direction: column;
    }

    .card-layout-main {
        background: #585858;
        min-width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0;
        gap: 2rem;
    }

    .rating-info {
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 600px) {
    article {
        flex-direction: column;
    }
}

@media (max-width: 1100px) {

    .nav-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 0;
        width: 80vw;
        border-bottom: 1px solid #C18F48;
        flex-direction: column;
    }
}

@media (max-width: 725px) {

    .list-title {
        display: none;
    }
}

@media (max-width: 520px) {
    .nav ul {
        display: none;
    }

    .nav {
        display: flex;
        gap: 1rem;
    }
}